body {

	 background-image: url(img/bg.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;

}
.main {
	width: 20%;
	margin: 0 auto;
	margin-top: 10%;
}
p {
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 128, .5);
	text-align: center;
	box-sizing: border-box;

}
.form {
	box-sizing: border-box;
	width: 100%;
	background-color: rgba(255, 255, 128, .5);
}
span {
	display: block;
}
input {
	width: 70%;	
	text-align: center;
	padding: 10px 10px;
	
}