body {

	 background-image: url(img/bg.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;

}
.main {
	width: 20%;
	margin: 0 auto;
	margin-top: 10%;
}
p {
	width: 100%;
	padding: 20px;
	background-color: rgba(255, 255, 128, .5);
	text-align: center;

}
.form {
	width: 100%;
	background-color: rgba(255, 255, 128, .5);
}
